@import '../common/sass/common';

#breadcrumb {
  padding: 20px 40px;
  list-style: none;
  font-size: 17px;
  margin: 0;

  /* Add a slash symbol (/) before/behind each list item */
  li + li:before {
    padding: 15px;
    color: black;
    content: '/\00a0';
  }

  li {
    display: inline;

    a {
      color: #0275d8;
      text-decoration: none;

      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }
  }
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  width: 100%;
  color: #d27503;
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;

  .favorite-btn {
    vertical-align: middle;
    float: right;

    @media screen and (max-width: 1200px) {
      width: 100%;
      margin-top: 2em;
    }
  }
}

#restaurant-img-container,
#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 16px;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 20px;
}

#restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

#restaurant-details {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 40%;
    padding: 3em;
  }
}

#reviews-container h3 {
  color: #d27503;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;

  li {
    break-inside: avoid;
    list-style-type: none;
  }

  @media screen and (min-width: 1024px) {
    column-count: 3;
  }
}

.review-rating {
  color: #fff;
  margin: 20px 20px 5px;
  padding: 10px;
  background-color: #af6000;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: right;
}

.card {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;

  .card-body {
    margin: 15px 20px 25px;
    font-size: 20px;
    background: #fff;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: #444;
    color: #fff;
    font-size: 20px;
  }
}

#add-review-form {
  #form-msg {
    padding: 1em;
    color: #fff;
    display: none;
    border-radius: 10px;
    border: 1px solid #285a3d;
    background: #479747;

    &.error {
      border-color: #b04c4c;
      background: #9c4141;
    }
  }

  .review-form-field {
    margin: 1.5em auto;

    label {
      display: block;
    }

    input,
    select,
    textarea {
      display: block;
      outline: none;
      width: 100%;
      transition: all 0.2s ease-out;
      background-color: #fff;
      border: 2px solid #ddd;
      font-size: 18px;
      height: 48px;
      letter-spacing: 0;
      padding: 0 10px;
      border-radius: 5px;
      margin: 10px 0;

      &:focus {
        box-shadow: 0 0 5px 5px rgba(125, 158, 204, 0.6);
        border-color: #fff;
      }
    }

    textarea {
      resize: none;
      height: 250px;
      font-family: inherit;
    }

    button {
      margin: 0;
    }
  }
}

#restaurant-hours {
  width: 100%;

  td {
    color: #666;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: #f3f3f3;
  }

  .inside main,
  #breadcrumb {
    width: 1200px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  #restaurant-img-container {
    width: 60%;
  }
}
