body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;

  img {
    border: none 0px #fff;
  }

  &:hover,
  &:focus {
    color: #3397db;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

header h1 {
  text-align: center;
  background-color: #252831;
  padding: 1em;
  margin: auto;

  a {
    color: #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
}

main {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #444;
  color: #ddd;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Map ====================== */
#map-container {
  background-color: #d4d4d4;
  max-height: 640px;

  #static-map {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  #dynamic-map {
    display: none;
    height: 400px;
  }
}

* {
  /* To fix tons of problems */
  box-sizing: border-box;
}

header,
main,
footer,
nav,
#breadcrumb,
#map-container,
#map,
#restaurant-container,
#reviews-container,
#reviews-list {
  width: 100%;
}

.skip-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;

  &:active,
  &:focus,
  &:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
  }
}

#offline-error {
  transition: transform 0.1s;
  background: #5f7aa0;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

#offline-error.shown {
  transform: translateY(0);
}

.btn {
  background-color: #df7b00;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 16px 0 0;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  border: 0;
  transition: all 0.3s;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
    box-shadow: 0 0 5px 5px rgba(125, 158, 204, 0.6);
  }

  &.btn-block {
    width: 100%;
  }
}

.favorite-btn {
  color: #d37400;
  background: #f9f9f9;
  border: 2px solid #df7b00;
  padding: 10px;

  &.active {
    background: #df7b00;
    color: #fff;

    &:hover {
      background: #f9f9f9;
      color: #b63131;
      border-color: #b63131;
    }

    &:focus {
      border-color: #b63131;
      background: #b63131;
      color: #fff;
    }
  }

  &:hover,
  &:focus {
    background: #df7b00;
    color: #fff;
  }
}
